* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lucida Console", Courier, monospace;
  margin: 0;
}

/* Set all hyperlink text-decoration to none */
a {
  text-decoration: none;
}

/* Style the form and input*/
form,
li {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Style the input form*/
input {
  color: #505050;
  font-size: 1rem;
  line-height: 2;
}

/* Style the submit button */
input[type="submit"],
button {
  font-size: 1rem;
  background-color: #5bd65f;
  border: none;
  color: white;
  padding: 5px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the submit button when hovered */
input[type="submit"]:hover {
  font-weight: bold;
}

/* Style the title */
.header {
  padding: 40px;
  text-align: center;
  background-color: rgb(243, 139, 144);
  color: white;
}

/* Set header font size */
.header h1 {
  font-size: 40px;
}

/* Style the nav bar stick to the header */
.navbar {
  overflow: hidden;
  background-color: #6abcf3;
  position: sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.logout {
  float: right;
}

/* Change when hovered */
.navbar a:hover {
  font-weight: bold;
  text-shadow: 0px 0px 30px #ffffff;
  transition: all 0.1s ease-in;
  background-color: #ddd;
  color: black;
}

/* Column container */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
}

/* Left column */
.left {
  font-size: 1.25rem;
  flex: 50%;
  background-color: #f1f1f1;
  padding: 35px;
}

/* Right column */
.right {
  flex: 50%;
  background-color: white;
  padding: 35px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Main column */
.main {
  flex: 1;
  background-color: white;
  padding: 20px;
}

/* Style the image */
.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.textbox {
  color: #505050;
  text-align: left;
  height: 100px;
  margin: 1rem;
}

.textbox img {
  width: 50px;
  height: 50px;
}

/* When screen smaller than width:700px flex will be column rather than row */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
