{% extends "base_template.html" %} 
{% block title %}<title>Home Page</title>{%endblock %} 
{% block navbar %}
    <div class="navbar">
      <a href="signup/" class="right">Don't have any account?</a>
    </div>
{% endblock %}

{% block content %}
<div class="left">
  <p>Date: <span id="date"></span></p>
  <script>
    dt = new Date();
    y = dt.getFullYear();
    m = dt.getMonth() + 1;
    d = dt.getDate();
    document.getElementById("date").innerHTML = y + "-" + m + "-" + d;
  </script>
  <div class="centered">
    <div class="textbox">
      {% load static %}
      <img src="{% static 'images/infection1.png' %}" /> Total Confirm Cases :
      {{totalconfirm}}
    </div>
    <div class="textbox">
      {% load static %}
      <img src="{% static 'images/infection2.png' %}" /> New Confirm Cases :
      {{newconfirm}}
    </div>
    <div class="textbox">
      {% load static %}
      <img src="{% static 'images/infection3.png' %}" /> New Deaths :
      {{newdeaths}}
    </div>
    <div class="textbox">
      {% load static %}
      <img src="{% static 'images/infection4.png' %}" /> Total Deaths :
      {{totaldeaths}}
    </div>
  </div>
</div>
<div class="right">
  <div class="centered">
    <h2>Welcome to Covid19-Tracker</h2>

    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <p>
        <button type="submit">Login</button>
      </p>
      <input type="hidden" name="next" value="{{next}}" />
    </form></br>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
  </div>
</div>
{% endblock %}
