<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  {% block title %}<title>Covid19-Tracker</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" href={% static 'covid_web/css/bootstrap.css' %}>
  {% load static %}
  <link rel="stylesheet" href="{% static 'covid_web/styles.css' %}" />
</head>
<body>
    <h1> Hello Boootstrap</h1>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    {% load static %}
    <script src ="{% static 'covid_web/js/bootstrap.js' %}%></script>
</body>
</html>