{% extends "base_template.html" %} 

{% block title %}<title>Covid19-Tracker</title>{% endblock %}


{% block navbar %}
  <nav class="navbar navbar-expand-md navbar-light bg-light" style="padding:1%">
      <a class="navbar-brand" href="#">
        {% load static %}
        <img src="{% static 'images/infection2.png' %}" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  Welcome {{ user.get_username }}
              </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" ><b>Logout</b></a>
              </li>
          </ul>
      </div>
  </nav>
{% endblock %}
{% block content %}
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-sm p-3">
                <h2>Covid Map</h2>
                <p>Detail</p>
            </div>

            <div class="col">
                <div class="container bg-light p-5">
                    <h2><b>Welcome to Covid-19 Tracker</b></h2>
                    
                    <div class="row pt-2">
                            <form action="/country">
                                <a><strong>Please search your country: </strong></a><br>
                                <div class="row p-4">
                                    <div class="col">
                                            <input list="contries" name="country" id="country" class=" custom-select custom-select-sm">
                                            <datalist id="contries">
                                                {% for country in country_name %}
                                                {% if name == country %}
                                                    <option value="{{country}}" selected>{{country}}</option>
                                                {%else%}
                                                    <option value="{{country}}">{{country}}</option>
                                                {%endif%}
                                                {%endfor%}
                                            </datalist>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-success float-left"><b>Submit</b></button>
                                    </div>
                                </div>
                            </form>
                            <div class="detail" style="padding: 1px; font-size: 1.50rem;">
                                <p><strong> Total Confirm Cases : </strong>{{totalconfirm}}</p>
                                <p><strong> New Confirm Cases : </strong>{{newconfirm}}</p>
                                <p><strong> New Deaths : </strong>{{newdeaths}}</p>
                                <p><strong> Total Deaths : </strong>{{totaldeaths}}</p>
                                <p><strong> Recovered : </strong>{{recovered}}</p>
                                <p><strong> Today Recovered : </strong>{{todayRecovered}}</p>
                                <p><strong> Active Cases : </strong>{{active}}</p>
                            </div>
                        </div>
                        <div class="col pt-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}