{% extends "base_template.html" %} {% block title %}<title>Home Page</title
>{%endblock %} {% block navbar %}
<div class="navbar">
    <a href="logout/" class="right">Logout</a>
</div>
{% endblock %}
{% block content %}
<div class="left">
    <div class="centered">
        <h1 style="color:#5bd65f; -webkit-text-stroke: 1px grey;">Let's checkout our Linebot</h1>
        {% load static %}
        <img src="{% static 'images/linebot_qrcode.jpg' %}" style="width:300px;height:300px;">
        <h2>Type "help" in line bot for commands</h2>
    </div>
</div>

<div class="right">
<div class="main">
    <p>User: {{ user.get_username }}</p> 
  <h1>Country: {{name}} <span id="date"></span></h1>
    <script>
    dt = new Date();
    y = dt.getFullYear();
    m = dt.getMonth() + 1;
    d = dt.getDate();
    document.getElementById("date").innerHTML = y + "-" + m + "-" + d;
    </script>
  <form action="/country">
    <a><strong>Please search your country: </strong></a></br>
    <input list="browsers" name="country" id="country" />
    <datalist id="browsers">
      {% for country in country_name %} {% if name == country %}
      <option value="{{country}}" selected>{{country}}</option>
      {%else%}
      <option value="{{country}}">{{country}}</option>
      {%endif%} {%endfor%}
    </datalist>
    <input type="Submit"></input>
  </form></br>
  <div><p><strong> Total Confirm Cases : </strong>{{totalconfirm}}</p></div></br>
  <div><p><strong> New Confirm Cases : </strong>{{newconfirm}}</p></div></br>
  <div><p><strong> New Deaths : </strong>{{newdeaths}}</div></p></br>
  <div><p><strong> Total Deaths : </strong>{{totaldeaths}}</p></div></br>
  <div><p><strong> Recovered : </strong>{{recovered}}</p></div></br>
  <div><p><strong> Today Recovered : </strong>{{todayRecovered}}</p></div></br>
  <div><p><strong> Active Cases : </strong>{{active}}</p></div>
</div>
</div>
{% endblock %}
