<html>
    <body>
    <h1>
    Country: {{name}}
    </h1>
    <form action="/country">
    <a><strong>Please search your country: </strong></a>
        <input list="browsers" name="country" id="country">
        <datalist id="browsers">
            {% for country in country_name %}
                {% if name == country %} <option value='{{country}}'selected>{{country}}</option>
                {%else%} 
                    <option value='{{country}}'>{{country}}</option> 
                {%endif%}
            {%endfor%}
        </datalist>
        <button>submit</button>
    </form>
        <div class="textbox"> Total Confirm Cases : {{totalconfirm}}</div>
        <div class="textbox"> New Confirm Cases : {{newconfirm}}</div>
        <div class="textbox"> New Deaths : {{newdeaths}}</div>
        <div class="textbox"> Total Deaths : {{totaldeaths}}</div>
        <div class="textbox"> Recovered : {{recovered}}</div>
        <div class="textbox"> Today Recovered : {{todayRecovered}}</div>
        <div class="textbox"> Active : {{active}}</div>
    </body>
</html>
