<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Covid19-Tracker</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
      <header>
        <h1>Covid19-Tracker</h1>
      <nav>
      <ul>
        <li><span>Home</span></li>
        <li><a href="#">Find Area</a></li>
        <li><a href="#">More Info</a></li>
      </ul>
      </nav>
      </header>

      <main>
      <article>
      <h2>Welcome to Covid19-Tracker</h2>

      <p id="username">Username <input title="enabled box" type="text"></p>
      <p id="password">Password <input title="enabled box" type="text"></p>

      <p><a href="#">Don't have any account?</a></p>
      </article>
      </main>

      <footer>
      <p>This is Covid19-Tracker app used for ISP project proposal only.</p>
      </footer>
  </body>
</html>
