html {
  overflow: hidden;
  font-size: 15px;
  background-color: #40687a;
}

h1,
h2,
h3,
p,
input,
li {
  color: #000000;
}

h1 {
  font-size: 2rem;
  text-align: center;
  flex: 5;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
}

p,
form,
li {
  font-size: 1.5rem;
  line-height: 1.5;
}

main {
  font-size: 1.5rem;
  text-align: center;
}

/* header bar */
header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

main,
header,
nav,
article,
footer {
  margin: auto;
  background-color: rgba(170, 220, 240, 0.5);
  padding: 1%;
}

label {
  font-size: 1.5rem;
}

input {
  font-size: 1rem;
  line-height: 2;
}

input[type="submit"], button{
  font-size: 1rem;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  font-weight: bold;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  list-style-type: none;
  flex: 1;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav a:hover{
  font-weight: bold;
}

footer {
  margin-top: 5px;
}

footer p{
  font-size: 1.25rem;
}
