html {
  overflow: hidden;
  font-size: 15px;
  color: #6abcf3;
  background-color: #fdfdfd;
}

h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

h2,
h3,
p,
input,
li {
  color: #6abcf3;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
  flex: 5;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
}

p,
form,
li {
  font-size: 1.5rem;
  line-height: 1.5;
}

main {
  font-size: 1.5rem;
  text-align: center;
}

main a{
  font-size: 1.25rem;
  color: #b6b6b6;
  text-decoration: none;
}

header {
  background-color: rgb(243, 139, 144);
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

main,
header,
nav,
article,
footer {
  margin: auto;
  padding: 1%;
}

main {
  background-color: white;
}

input {
  color: #505050;
  font-size: 1rem;
  line-height: 2;
}

input[type="submit"], button{
  font-size: 1rem;
  background-color: #5bd65f;
  border: none;
  color: white;
  padding: 5px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  font-weight: bold;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  list-style-type: none;
  flex: 1;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  color: #ffffff;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}


nav a:hover{
  font-weight: bold;
  text-shadow:0px 0px 30px #ffffff;
  transition: all 0.1s ease-in;
}

footer {
  background-color: rgb(243, 139, 144);
  margin-top: 5px;
}

footer p{
  color: #ffffff;
  font-size: 1.25rem;
}
